.listings {
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.list {
    display: grid;
}

@media screen and (min-width: 1324px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}
